body {
  font-family: "Montserrat", sans-serif;
}

.title {
  font-size: 100px;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
}

.secondary-button {
  width: fit-content;
  border: none;
  letter-spacing: 1px;
  border-radius: 5px;
  box-sizing: border-box;
  color: #c75c5c;
  font-family: "Montserrat", sans-serif;
  background: white;
  cursor: pointer;
}

.primary-button {
  height: 100%;
  width: fit-content;
  border: none;
  letter-spacing: 1px;
  border-radius: 5px;
  box-sizing: border-box;
  color: #c75c5c;
  font-family: "Montserrat", sans-serif;
  background: rgba(191, 67, 67, 0.1);
  cursor: pointer;
}

.primary-button:hover {
  background: rgba(191, 67, 67, 0.2);
}

.primary-button:active {
  color: white;
  background: rgba(191, 67, 67, 1);
}

.grabbable {
  cursor: move; /* fallback if grab cursor is unsupported */
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

/* (Optional) Apply a "closed-hand" cursor during drag operation. */
.grabbable:active {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}
