body {
  font-family: "Montserrat", sans-serif !important;
}

.title {
  font-size: 100px;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
}

.primary-button {
  border: none;
  letter-spacing: 1px;
  border-radius: 5px;
  box-sizing: border-box;
  color: #c75c5c;
  font-family: "Montserrat", sans-serif;
  background: rgba(191, 67, 67, 0.1);
  cursor: pointer;
}

.primary-button:hover {
  background: rgba(191, 67, 67, 0.2);
}

.primary-button:active {
  color: white;
  background: rgba(191, 67, 67, 1);
}
